<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
  <div ng-controller='MyController'>
    <form novalidate class="form-group">
      <row class="col-md-12">
        <div class="col-md-4">
          Url: <input type="text" ng-model="url" ng-list/>
          </div>
          <div class="col-md-4">
              Campaign content: <input type="text" ng-model="content" ng-list/>
          </div>
          <div class="col-md-4">
              Campaign: <input type="text" ng-model="campaign"/>
          </div>
      </row>

      <input type="submit" data-display-urls='true' value="submit" class="btn btn-primary"/>

    </form>
    <pre> {{ url[1] | json }} </pre>
    <pre> {{ content | json }} </pre>
    <pre>{{full_result}}</pre>
    <pre>{{result_text}}</pre>
    <pre>{{result_cta}}</pre>
  </div>
    <script>
      angular.module('myApp', [])
      .controller('MyController', ['$scope', function($scope) {
          $scope.result_graph;
          $scope.result_text;
          $scope.result_cta;
          $scope.full_result;

          $scope.foo = 'hi';


        $scope.displayUrl = function() {

          // for (var i = 0; i < $scope.url.length; i++) {
          //     $scope.result_graph = $scope.url[i] + "?utm_source=weekly-email&utm_medium=email&utm_content=";
          // }

          $scope.result_graph = $scope.url.map(function (url){ return url + "?utm_source=weekly-email&utm_medium=email&utm_content=";});

          var items = $scope.result_graph.toString();
          var some = items.split(',').map(function(items){return String(items);});
        
          $scope.full_result = String(items);

          // console.log(typeof some);
          // for (var i=0; items.length; i++) {
          //    console.log(some[i]);

          // }
          //   $scope.full_result = s[i];
          // }
      
          // $scope.result_graph = $scope.url + "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.content + "-graph&utm_campaign=" + $scope.campaign;
          $scope.result_text =  $scope.url+ "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.content + "-text&utm_campaign=" + $scope.campaign;
          $scope.result_cta =   $scope.url + "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.content + "-cta&utm_campaign=" + $scope.campaign;
      
        };
       }])
      .directive('displayUrls', function() {
        return {
          link: function(scope, ele, attrs){
            ele.bind('click', function() {
              scope.displayUrl();
              scope.$apply();
            });
          }
        };
      });
    </script>

  </body>
</html>
