<!doctype html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div ng-controller='MyController'>
  <form novalidate class="form-group">
    <row class="col-md-12">
     	<div class="col-md-4"> 
     		Url: <input type="text" ng-model="url.url" />
        </div>
        <div class="col-md-4"> 
            Campaign content: <input type="text" ng-model="url.content" />
        </div>
        <div class="col-md-4"> 
            Campaign: <input type="text" ng-model="url.campaign" />
        </div>
    </row>

    <input type="submit" ng-click="displayUrl(url)" value="submit" class="btn btn-primary"/>

  </form>
  <pre>{{result_graph}}</pre>
  <pre>{{result_text}}</pre>
  <pre>{{result_cta}}</pre>
</div>
  <script>
    angular.module('myApp', []) 
    .controller('MyController', ['$scope', function($scope) {
        $scope.result_grap;
        $scope.result_text;
        $scope.result_cta;

      $scope.displayUrl = function(url) {
        $scope.result_graph = $scope.url.url + "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.url.content + "-graph&utm_campaign=" + $scope.url.campaign;
        $scope.result_text = $scope.url.url + "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.url.content + "-text&utm_campaign=" + $scope.url.campaign;
        $scope.result_cta = $scope.url.url + "?utm_source=weekly-email&utm_medium=email&utm_content=" + $scope.url.content + "-cta&utm_campaign=" + $scope.url.campaign;
      };
       }]);
       
 
  </script>

</body>
</html>