<!doctype html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
</head>
<body>

  <form ng-controller='MyController'>

  <input type="text" ng-model="myUrl" /> 
  </form>

  <script>
    angular.module('myApp', []) 
    .controller('MyController', ['$scope', function($scope) {
        $scope.urls = {};

      $scope.displayUrl = function(user) {
        $scope.urls = angular.copy(user);
      };
       }]);
       
 
  </script>

</body>
</html>